<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Página Principal - FATEC</title>
</head>
<body>
    <h1>Essa é a pagina principal da fatec</h1>
</body>
</html>